body {
  background: #333;
}

.box {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: myanimation;
  animation-duration: 4s;
}

@keyframes myanimation {
  0% {
    background-color: white;
    top: 0;
    left: 0;
  }

  25% {
    background-color: red;
    top: 0;
    left: 30px;
  }

  50% {
    background-color: green;
    top: 300px;
    left: 300px;
  }

  75% {
    background-color: blue;
    top: 300px;
    left: 0;
  }

  100% {
    background-color: white;
    top: 0;
    left: 0;
  }
}
